body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font: 4vw 'Raleway', sans-serif;
    background-color: black;
}

canvas {
    width: 100vw;
    height: 100vh;
}